<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923204516176-u6jd94fvr8jcasa7irudh9fl25h9up8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923204516176-u6jd94fvr8jcasa7irudh9fl25h9up8e</string>
	<key>API_KEY</key>
	<string>AIzaSyCmP_lfQaflJ63UBZoWYudBVTf7Dp2pMps</string>
	<key>GCM_SENDER_ID</key>
	<string>923204516176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.britishempirefuels</string>
	<key>PROJECT_ID</key>
	<string>british-empire</string>
	<key>STORAGE_BUCKET</key>
	<string>british-empire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923204516176:ios:48babb95df1c4a2d82d455</string>
	<key>DATABASE_URL</key>
	<string>https://british-empire.firebaseio.com</string>
</dict>
</plist>